---
layout: layouts/home.njk
eleventyNavigation:
  key: Blog
  order: 3
numberOfLatestPostsToShow: 10
title: Blog
---
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}

<h1>Blog</h1>

{% set postslist = collections.posts | reverse | head(numberOfLatestPostsToShow) %}
{% include "postslist.njk" %}

<nav class="pagination">
  <ul>
    <li style="float: right;"><a href="/blog/page/2">Older Posts &rarr;</a></li>
  </ul>
</nav>