---
layout: layouts/home.njk
eleventyNavigation:
  key: Archive
  order: 3
numberOfLatestPostsToShow: 10
title: Archive
---
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Archive</h1>

{% set postslist = collections.posts | reverse | head(numberOfLatestPostsToShow) %}
{% include "postslist.njk" %}

<nav class="pagination">
  <ol>
    <li style="float: right;"><a href="/blog/page/2">Older Posts &rarr;</a></li>
  </ol>
</nav>