:root {
  --73k-splash-c0: rgba(0,30,90,1);
  --73k-splash-c1: rgba(0,118,158,1);
  --73k-splash-c2: rgba(2,149,167,1);
  --73k-splash-c3: rgba(120,186,174,1);
  --73k-splash-c4: rgba(255,237,191,1);
  --73k-splash-c5: rgba(253,179,106,1);
  --73k-splash-c6: rgba(255,117,28,1);
  --73k-splash-c7: rgba(254,62,0,1);
  --73k-splash-c8: rgb(136, 68, 36);

  --73k-splash-stripe-size: 16px;
  --73k-splash-buffer-size: calc(2 * var(--73k-splash-stripe-size));
  --73k-head-font-size: 5rem;
  --73k-head-text: rgba(56, 46, 34, 1);
  --73k-head-font: 'Cooper Black', Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;

  /* --73k-body-bg: rgb(213, 224, 226); */
  /* --73k-body-bg: rgb(215, 222, 225); */
  --73k-body-bg: rgb(255, 240, 217);
  --73k-text: rgb(23, 23, 23);
  --73k-link: #000;
  --73k-body-font: 'IBM Plex Sans', Helvetica, Arial, 'Open Sans', Roboto, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  --73k-h1-6-font: 'Friz Quadrata Std', Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  --73k-border: #a9b1ba;
  --73k-text-muted: #40474f;

  
  --background-body: #fff;
  --background: #efefef;
  --background-alt: #f7f7f7;
  --selection: #9e9e9e;
  --focus: #0096bfab;
  --border: #dbdbdb;
  --code: #000;
  --animation-duration: 0.1s;
  --button-base: #d0cfcf;
  --button-hover: #9b9b9b;
  --scrollbar-thumb: rgb(170, 170, 170);
  --scrollbar-thumb-hover: var(--button-hover);
  --form-placeholder: #949494;
  --form-text: #1d1d1d;
  --variable: #39a33c;
  --highlight: #ff0;
  --select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23161f27'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --73k-body-bg: rgba(28, 34, 49, 1); */
    --73k-body-bg: rgb(255, 240, 217);
    /* --73k-body-bg: rgba(31, 34, 41, 1); */
    --73k-body-bg: rgba(0, 15, 38, 1);
    --73k-text: rgba(233, 233, 233, 1);
    --73k-link: #fff;
    /* --73k-splash-head-text: #57413c; */
    /* --73k-splash-head-text: #3b3533; */
    /* from caniuse.com: */
    /* --73k-splash-head-text: rgba(37, 32, 23, 1); */
    /* --73k-splash-head-text: rgba(45, 39, 28, 1); */
    --73k-splash-head-text: rgba(56, 46, 34, 1);
    --73k-text-muted: #c0c7cf;
    --73k-border: #526980;


    --background-body: #202b38;
    --background: #161f27;
    --background-alt: #1a242f;
    --selection: #1c76c5;
    --text-main: #dbdbdb;
    --text-bright: #fff;
    --links: #41adff;
    --focus: #0096bfab;
    --code: #ffbe85;
    --animation-duration: 0.1s;
    --button-base: #0c151c;
    --button-hover: #040a0f;
    --scrollbar-thumb: var(--button-hover);
    --scrollbar-thumb-hover: rgb(0, 0, 0);
    --form-placeholder: #a9a9a9;
    --form-text: #fff;
    --variable: #d941e2;
    --highlight: #efdb43;
    --select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23efefef'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");
  }
}