{% include "_includes/css/_css-reset.css" %}

{# Variables related to splash73k background #}
:root {
  --ct-minw: 320px;
  --ct-maxw: {{ splash73k.opts.headMaxW }}px;
  --bg-img: url('data:image/svg+xml;utf8,{{ splash73k.svg | safe }}');
  --bg-sz: {{ splash73k.opts.svgSize }}px;
  --sp-bf-sz: {{ splash73k.opts.bufferSize + splash73k.opts.lineHeight }}px;
  --sp-ln-ht: {{ splash73k.opts.lineHeight }}px;
  --sp-ln-ct: {{ splash73k.opts.lineCount }};
  --sp-ln-st: {{ splash73k.opts.lineStart }};
  --sp-dg-st: {{ splash73k.opts.tiltDegStart }};
  --sp-dg-en: {{ splash73k.opts.tiltDegEnd }};
  {% for color in splash73k.opts.colors %}
  --sp-c{{ loop.index0 }}: {{ color }};
  {% endfor %}
}

{# Other common variables #}
{% include "_includes/css/_variables-common.css" %}
