{% include "_includes/css/_css-reset.css" %}

{# Variables related to splash73k background #}
:root {
  --ct-minw: 64px;
  --ct-maxw: {{ splash73k.opts.headMaxW }}px;
  --sp-bf-sz: {{ splash73k.opts.bufferSize }}px;
  --sp-ln-sz: {{ splash73k.opts.lineSize }}px;
  --sp-st-wd: {{ splash73k.opts.strokeWidth }}px;
  --sp-ln-st: {{ splash73k.opts.lineStart }};
  --sp-ln-ct: {{ splash73k.opts.lineCount }};
  --sp-dg-st: {{ splash73k.opts.tiltDegreesStart }};
  --sp-dg-en: {{ splash73k.opts.tiltDegreesEnd }};
  --sp-sh-rn: {{ splash73k.opts.shapeRendering }};
  {% for color in splash73k.opts.colors %}
  --sp-c{{ loop.index0 }}: {{ color }};
  {% endfor %}
}

{# Style related to splash73k background #}
html {
  background-image: url('data:image/svg+xml;utf8,{{ splash73k.svg | safe }}');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: {{ splash73k.opts.svgSize }}px {{ splash73k.opts.svgSize }}px;
}

{# Other common variables #}
{% include "_includes/css/_variables-common.css" %}
