{%- css %}
@media (prefers-color-scheme: light) {
{% include "node_modules/prism-theme-night-owl/build/light-no-italics.css" %}
}
@media (prefers-color-scheme: dark) {
{% include "node_modules/prism-theme-night-owl/build/no-italics.css" %}
}
{% include "_includes/css/prism-diff.css" %}
{# {% include "_includes/css/prism-font-enforce.css" %} #}
{% endcss %}
