/* Defaults */
:root {
  --layout-spacing: max(4vh, 2rem);

  --font-family: 'IBM Plex Sans', 'Open Sans', Roboto, 'DejaVu Sans', 'Bitstream Vera Sans', 'Trebuchet MS', Verdana, 'Verdana Ref', -apple-system, system-ui, sans-serif;
  --font-family-splash: 'Supercomputer', 'Cooper Black', 'Lazenby Computer', Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
  --font-family-headers: 'Friz Quadrata Std', Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
	--font-family-monospace: 'JetBrains Mono', 'Cascadia Code', Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;

  --text-head-link: #382E22;
  --text-color-code: #407EE7;

  --syntax-tab-size: 2;
  --standard-border-radius: 5px;
}


/* Theme colors */
:root {
  --background-color: #CECECE;
  --text-color: #22262A;
  --text-muted: #555555;

  --text-color-link: #0000AA;
  --text-color-link-decoration: #00AA00;
  --text-color-link-active: #0000AA;
  --text-color-link-active-decoration: #AA00AA;
  --text-color-link-visited: #AA00AA;
  --text-color-link-visited-decoration: #00AA00;

  --border-color: #777777;
  --bquote-color: #555555;
  --bquote-background-color: #BEBEBE;
  --bquote-border-color: #AAAAAA;
}

@media (prefers-color-scheme: dark) {
	:root {
    --background-color: #000000;
    --text-color: #D3D7CF;
    --text-muted: #767676;

    --text-color-link: #55FF55;
    --text-color-link-decoration: #00AAAA;
		--text-color-link-active: #55FF55;
		--text-color-link-active-decoration: #FF55FF;
		--text-color-link-visited: #FF55FF;
		--text-color-link-visited-decoration: #00AAAA;

    --border-color: #888888;
    --bquote-color: #999999;
    --bquote-background-color: #111111;
    --bquote-border-color: #222222;
	}
}
