/* Defaults */
:root {
  --layout-spacing: max(4vh, 2rem);

  --font-family: 'IBM Plex Sans', 'Open Sans', Roboto, 'DejaVu Sans', 'Bitstream Vera Sans', 'Trebuchet MS', Verdana, 'Verdana Ref', -apple-system, system-ui, sans-serif;
  --font-family-splash: 'Supercomputer', 'Cooper Black', 'Lazenby Computer', Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
  --font-family-headers: 'Friz Quadrata Std', Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;

  --splash-buffer-size: 48px;
  --splash-line-size: 16px;
  --splash-line-width: 16px;
  --splash-line-start: 1;
  --splash-line-count: 7;
  --splash-tilt-degrees-start: 40;
  --splash-tilt-degrees-end: 40;
  --splash-shape-rendering: auto;

  --splash-c0: rgba(0,30,90,1);
  --splash-c1: rgba(0,118,158,1);
  --splash-c2: rgba(2,149,167,1);
  --splash-c3: rgba(120,186,174,1);
  --splash-c4: rgba(255,237,191,1);
  --splash-c5: rgba(253,179,106,1);
  --splash-c6: rgba(255,117,28,1);
  --splash-c7: rgba(254,62,0,1);
  --splash-c8: rgb(136, 68, 36);
  --splash-c9: transparent;
}


/* Theme colors */
:root {
  --background-color: #CECECE;
  --text-color: #22262A;

  --text-color-link: #0000AA;
  --text-color-link-decoration: #00AA00;
  --text-color-link-active: #0000AA;
  --text-color-link-active-decoration: #AA00AA;
  --text-color-link-visited: #AA00AA;
  --text-color-link-visited-decoration: #00AA00;

  --text-head-link: rgba(56, 46, 34, 1);
}

@media (prefers-color-scheme: dark) {
	:root {
    --background-color: #000000;
    --text-color: #D3D7CF;

    --text-color-link: #55FF55;
    --text-color-link-decoration: #00AAAA;
		--text-color-link-active: #55FF55;
		--text-color-link-active-decoration: #FF55FF;
		--text-color-link-visited: #FF55FF;
		--text-color-link-visited-decoration: #00AAAA;

	}
}
