/*
 * 73k styles
 */

/* Overrides of smolcss document styles */

body > * {
  /* modified from smolcss original 70ch to my preferred 900px
     pixel sizing will help with fitting header splash from background image */
  --max-width: 900px;
  width: min(100%, var(--max-width));
}

body {
  background-color: var(--73k-body-bg);
  color: var(--73k-text);
  font-family: var(--73k-body-font);
  font-size: 1.2rem;
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--73k-h1-6-font);
  font-weight: 400;
}

main, article {
  & > p {
    margin: 1em 0;
  }
}