:root {
  --pagefind-ui-primary: var(--text-color) !important;
  --pagefind-ui-text: var(--text-color) !important;
  --pagefind-ui-background: var(--bquote-background-color) !important;
  --pagefind-ui-border: var(--bquote-border-color) !important;
  --pagefind-ui-tag: #152028;
  --pagefind-ui-border-radius: var(--standard-border-radius) !important;
  --pagefind-ui-scale: 1.0 !important;
  --scale73k-pagefind-ui: 0.8;
}
.pagefind-ui--reset :where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  color: var(--text-color) !important;
  font-family: var(--font-family) !important;
}
html#html73k body main#skip div#search.search div.pagefind-ui.pagefind-ui--reset form.pagefind-ui__form {
  &::before {
    width: calc(calc(18px * var(--scale73k-pagefind-ui)) * var(--pagefind-ui-scale)) !important;
    height: calc(calc(18px * var(--scale73k-pagefind-ui)) * var(--pagefind-ui-scale)) !important;
    top: calc(calc(23px * var(--scale73k-pagefind-ui)) * var(--pagefind-ui-scale)) !important;
    left: calc(calc(20px * var(--scale73k-pagefind-ui)) * var(--pagefind-ui-scale)) !important;
  }
  & input.pagefind-ui__search-input {
    height: calc(calc(64px * var(--scale73k-pagefind-ui)) * var(--pagefind-ui-scale)) !important;
    padding: 0 calc(calc(70px * var(--scale73k-pagefind-ui)) * var(--pagefind-ui-scale)) 0 calc(calc(54px * var(--scale73k-pagefind-ui)) * var(--pagefind-ui-scale)) !important;
  }
  & button.pagefind-ui__search-clear {
    height: calc(calc(60px * var(--scale73k-pagefind-ui)) * var(--pagefind-ui-scale) * 0.95) !important;
    padding: 0 calc(calc(15px * var(--scale73k-pagefind-ui)) * var(--pagefind-ui-scale)) 0 calc(calc(2px * var(--scale73k-pagefind-ui)) * var(--pagefind-ui-scale)) !important;
  }
  & div.pagefind-ui__drawer div.pagefind-ui__results-area ol.pagefind-ui__results li.pagefind-ui__result div.pagefind-ui__result-inner p.pagefind-ui__result-title a.pagefind-ui__result-link {
    font-family: var(--font-family-headers) !important;
    /* font-size: larger !important; */
    font-weight: 400 !important;
    color: var(--text-color-link) !important;
    text-decoration: underline !important;
    text-decoration-color: var(--text-color-link-decoration) !important;
    &:visited {
      color: var(--text-color-link-visited) !important;
      text-decoration-color: var(--text-color-link-visited-decoration) !important;
    }
    &:hover,
    &:active {
      color: var(--text-color-link-active) !important;
      text-decoration-color: var(--text-color-link-active-decoration) !important;
    }
  }
}
