/* Layout & Main Styles */
html,
body {
  font-family: var(--font-family);
  font-size: 1.05em;
  color: var(--text-color);
}
html {
  overflow-y: scroll;
  background-color: var(--background-color);
}
body {
  display: grid;
  justify-content: center;
  grid-template-columns: [body-l] 1fr [content-l] minmax(var(--content-minw), var(--content-maxw)) [content-r] 1fr [body-r];
  grid-template-rows:
    [body-t head-t] calc(var(--splash-buffer-size) + calc(var(--splash-line-count) * var(--splash-line-size)))
    [head-b main-t] auto
    [main-b foot-t] max-content
    [foot-b body-b];
  width: 100vw;
  padding-bottom: 1rem;

  & > header,
  & > main,
  & > footer {
    padding: 0 1em;
  }
  & > header {
    grid-area: head-t / content-l / head-b / content-r;
    display: grid;
    grid-template-columns: [content-l] auto [content-r];
    grid-template-rows:
      [head-t nav-t] var(--splash-buffer-size)
      [nav-b splash-t] calc(var(--splash-line-count) * var(--splash-line-size))
      [splash-b head-b];
    align-items: center;
    & > div > a[href].home-link {
      display: inline !important;
      grid-area: splash-t / content-l / splash-b / content-r;
      font-family: var(--font-family-splash);
      font-weight: 700;
      font-size: 5rem;
      color: var(--text-head-link);
      text-decoration: none;
    }
    & > nav {
      grid-area: nav-t / content-l / nav-b / content-r;
    }
  }

  & > main {
    grid-area: main-t / content-l / main-b / content-r;
    margin-top: var(--layout-spacing);
    & > h1:first-child {
      margin-bottom: 0;
    }
  }

  & > footer {
    grid-area: foot-t / content-l / foot-b / content-r;
    margin-top: auto;
    padding-top: var(--layout-spacing);
  }

}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-headers);
  font-weight: 400;
  margin-bottom: 0.5em;
  & + p {
    margin-top: 0;
  }
}
:is(h1, h2, h3) {
  line-height: 1.2;
}
:is(h2, h3):not(:first-child) {
  margin-top: 2em;
}
p {
  margin: 1em 0;
  &:last-child {
    margin-bottom: 0;
  }
  footer & {
    border-top: 1px solid var(--border-color);
    font-size: 0.9rem;
    color: var(--text-muted);
  }
}
ul {
  margin: 1em 0;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


/* Nav */
.nav {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: smaller;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav a[href][aria-current="page"] {
  text-decoration: underline;
}


/* Links */
a[href] {
  color: var(--text-color-link);
  text-decoration-color: var(--text-color-link-decoration);
  &:visited {
    color: var(--text-color-link-visited);
    text-decoration-color: var(--text-color-link-visited-decoration);
    header#head73k > nav & {
      color: var(--text-color-link);
      text-decoration-color: var(--text-color-link-decoration);
    }
  }
  &:hover,
  &:active {
    color: var(--text-color-link-active);
    text-decoration-color: var(--text-color-link-active-decoration);
  }
}


/*
  Additional styling
  */

/* Posts list */
/* .postlist-item:before font-size: 0.8125em; = 13px /16 */
/* .postlist-link font-size: 1.1875em; = 19px /16 */
.postlist {
  list-style: none;
  padding: 0;
  /* padding-left: 1.5rem; */
}
.postlist-item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  /* counter-increment: start-from -1; */
  margin-bottom: 1em;
}
/* .postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
  margin-left: -1.5rem;
} */
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em;
  color: var(--color-gray-90);
}
.postlist-date {
  word-spacing: -0.5px;
  margin-top: -0.33em;
}
.postlist-link {
  font-family: var(--font-family-headers);
  font-size: 1.2em;
  font-weight: 400;
  flex-basis: calc(100% - 1.5rem);
  /* padding-left: .25em; */
  padding-right: .5em;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}

/* Tags */
.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-style: italic;
}
.postlist-item > .post-tag {
  align-self: center;
}

/* Tags list */
.post-metadata {
  display: inline-flex;
  flex-wrap: wrap;
  gap: .5em;
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--text-muted);
}
.post-metadata time {
  color: var(--text-muted);
}
.post-metadata li:nth-of-type(2)::before {
  margin-right: 0.5em;
  content: "\2022";
} 

/* Direct Links / Markdown Headers */
.header-anchor {
  text-decoration: none;
  font-style: normal;
  font-size: 1em;
  margin-left: .1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
  color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
  text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
  color: var(--text-muted);
}

h2 + .header-anchor {
  font-size: 1.5em;
}

/* next/prev links underneath a post article */
.links-nextprev {
  list-style: none;
  border-top: 1px dashed var(--border-color);
  padding: 0.5em 0 0;
  margin-top: 1.5em;
  color: var(--text-muted);
}

/* Code styling defaults */
pre,
code {
	font-family: var(--font-family-monospace);
  font-size: 0.9em;
}
code[class*=language-],
pre[class*=language-] {
	font-family: var(--font-family-monospace) !important;
  font-size: 0.9em !important;
	line-height: 1.375 !important; /* 22px /16 */
  border-radius: var(--standard-border-radius);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
  border-radius: var(--standard-border-radius);
}
code {
  color: var(--text-color-code);
}

kbd {
  color: var(--border-color);
  border: 1px solid var(--border-color);
  border-bottom: 3px solid var(--border-color);
  border-radius: var(--standard-border-radius);
  padding: 0.1rem 0.4rem;
}


/* Image scaling help */
img, picture, video, canvas, svg {
  object-fit: scale-down;
}
img.scale {
  width: unset;
  height: unset;
  border-radius: var(--standard-border-radius);
}
img + em,
picture + em {
  font-size: smaller;
  align-self: center;
}


/* Blockquotes */
blockquote {
	padding: 1rem 1.25rem;
  color: var(--border-color);
	background: var(--bquote-background-color);
	border-left: 5px solid var(--bquote-border-color);
  & *:first-child {
    padding-top: 0;
    margin-top: 0;
  }
  & *:last-child,
  & p:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    & > cite {
      display: block;
    }
  }
  & cite {
    font-size: smaller;
    font-style: normal;
    &:before {
        content: "— ";
    }
  }
}

/* hr in a blog post */
main > p + hr {
  border-top: 1px solid var(--border-color);
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: 50%;
  margin: 0 auto;
}





/* Blog post archive pagination */
.pagination {
  border-top: 1px dashed var(--border-color);
  padding: 0.5em 0 0;
  background-color: transparent;
  margin-top: 2em;
  & ol {
    /* display: flex; */
    list-style: none;
    padding: 0;
     /* to match "a" padding below */
    color: var(--text-muted);
    /* & :nth-child(1) {
      margin-left: 1em;
      margin-right: auto;
    }
    & :nth-child(2) {
      margin-left: auto;
      margin-right: 1em;
    } */
  }
  & a {
    /* border: 1px solid var(--border-color); */
    /* border-radius: 0.5rem; */
    /* padding: 0.5rem; */
    /* text-decoration: none; */
    color: var(--text-muted);
    &:visited {
      color: var(--text-muted);
    }
    &:hover,
    &:active {
      color: var(--text-color);
      text-decoration-color: var(--text-color-link-active-decoration);
    }  
  }
}



/* Tags list page */
ul.taglist {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}