/* Layout & Main Styles */
html,
body {
  font-family: var(--f-fm);
  font-size: 1.05em;
  color: var(--tx-c);
}
html {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--bg-c);
  background-image: var(--bg-img);
  background-size: var(--bg-sz) var(--bg-sz);
  background-position: top center;
  background-repeat: no-repeat;
  transition: background-color 200ms ease-in-out 0s;
}
body {
  display: grid;
  gap: 0;
  justify-content: center;
  grid-template-columns: [body-l] 1fr [content-l] minmax(var(--ct-minw), var(--ct-maxw)) [content-r] 1fr [body-r];
  grid-template-rows:
    [body-t head-t] calc(var(--sp-bf-sz) + calc(var(--sp-ln-ct) * var(--sp-ln-sz)))
    [head-b main-t] auto
    [main-b foot-t] min-content
    [foot-b body-b];
  width: 100vw;
  height: 100vh;

  & > header,
  & > main,
  & > footer {
    padding: 0 1rem;
  }
  & > header {
    grid-area: head-t / content-l / head-b / content-r;
    display: grid;
    gap: 0;
    grid-template-columns: [content-l] auto [content-r];
    grid-template-rows:
      [head-t nav-t] var(--sp-bf-sz)
      [nav-b splash-t] calc(var(--sp-ln-ct) * var(--sp-ln-sz))
      [splash-b head-b];
    align-items: center;
    & > div > a[href].home-link {
      display: inline !important;
      grid-area: splash-t / content-l / splash-b / content-r;
      font-family: var(--f-fm-sp);
      font-weight: 700;
      font-size: 5rem;
      color: var(--tx-c-ln-hd);
      text-decoration: none;
    }
    & > nav {
      grid-area: nav-t / content-l / nav-b / content-r;
      display: flex;
      align-items: center;
      justify-content: space-between;
      & svg.icon {
        color: var(--tx-c-mu);
        &:hover,
        &:active {
          color: var(--tx-c);
          cursor: pointer;
        }
      }

    }
  }

  & > main {
    grid-area: main-t / content-l / main-b / content-r;
    margin-top: var(--lo-sp);
    & > h1:first-child {
      margin-bottom: 0;
    }
  }

  & > footer {
    grid-area: foot-t / content-l / foot-b / content-r;
    clear: all;
    margin-top: var(--lo-sp);
    padding-bottom: 1rem;
    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      color: var(--tx-c-mu);
      padding-top: 0.5rem;
      border-top: 1px solid var(--bd-c);
      font-size: 0.9rem;
      & p {
        margin: 0;
        &:last-child {
          font-size: 1.1rem;
        }
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--f-fm-hd);
  font-weight: 400;
  margin-bottom: 0.5em;
  & + p {
    margin-top: 0;
  }
}
:is(h1, h2, h3) {
  line-height: 1.2;
}
:is(h2, h3):not(:first-child) {
  margin-top: 2em;
}
:is(h1, h2, h3):first-child {
  margin-bottom: 0.25em;
}
p {
  margin: 1em 0;
  &:last-child {
    margin-bottom: 0;
  }
}
ul {
  margin: 1em 0;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Nav */
.nav {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav a[href][aria-current="page"] {
  text-decoration: underline;
}

/* Links */
a[href] {
  color: var(--tx-c-ln);
  text-decoration-color: var(--tx-c-ln-de);
  &:visited {
    color: var(--tx-c-ln-vs);
    text-decoration-color: var(--tx-c-ln-vs-de);
  }
  &:hover,
  &:active {
    color: var(--tx-c-ln-ac);
    text-decoration-color: var(--tx-c-ln-ac-de);
  }
}
#head73k > nav a[href]:visited {
  color: var(--tx-c-ln);
  text-decoration-color: var(--tx-c-ln-de);
}

/*
  Additional styling
  */

/* Posts list */
/* .postlist-item:before font-size: 0.8125em; = 13px /16 */
/* .postlist-link font-size: 1.1875em; = 19px /16 */
.postlist {
  list-style: none;
  padding: 0;
  /* padding-left: 1.5rem; */
}
.postlist-item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  /* counter-increment: start-from -1; */
  margin-bottom: 1em;
}
/* .postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
  margin-left: -1.5rem;
} */
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em;
  color: var(--color-gray-90);
}
.postlist-date {
  word-spacing: -0.5px;
  margin-top: -0.33em;
}
.postlist-link {
  font-family: var(--f-fm-hd);
  font-size: 1.2em;
  font-weight: 400;
  flex-basis: calc(100% - 1.5rem);
  /* padding-left: .25em; */
  padding-right: 0.5em;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}

/* Tags */
.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-style: italic;
}
.postlist-item > .post-tag {
  align-self: center;
}

/* Tags list */
.post-metadata {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.5em;
  list-style: none;
  line-height: 1;
  padding: 0;
  margin: 0 0 0.5em 0;
  color: var(--tx-c-mu);
}
.post-metadata time {
  color: var(--tx-c-mu);
}
.post-metadata li:nth-of-type(2)::before {
  margin-right: 0.5em;
  content: "\2022";
}

/* Direct Links / Markdown Headers */
.header-anchor {
  text-decoration: none;
  font-style: normal;
  font-size: 1em;
  margin-left: 0.1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
  color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
  text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
  color: var(--tx-c-mu);
}

h2 + .header-anchor {
  font-size: 1.5em;
}

/* next/prev links underneath a post article */
.links-nextprev {
  list-style: none;
  border-top: 1px dashed var(--bd-c);
  padding: 0.5em 0 0;
  margin-top: 1.5em;
  color: var(--tx-c-mu);
}

/* Code styling defaults */
pre,
code {
  font-family: var(--f-fm-mn);
  font-size: 0.9em;
}
code[class*="language-"],
pre[class*="language-"] {
  font-family: var(--f-fm-mn) !important;
  font-size: 0.9em !important;
  line-height: 1.375 !important; /* 22px /16 */
  border-radius: var(--bd-rd);
}
pre:not([class*="language-"]) {
  margin: 0.5em 0;
  line-height: 1.375; /* 22px /16 */
  -moz-tab-size: var(--sy-tb-sz);
  -o-tab-size: var(--sy-tb-sz);
  tab-size: var(--sy-tb-sz);
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  border-radius: var(--bd-rd);
}
code {
  color: var(--tx-c-cd);
}

kbd {
  color: var(--bd-c);
  border: 1px solid var(--bd-c);
  border-bottom: 3px solid var(--bd-c);
  border-radius: var(--bd-rd);
  padding: 0.1rem 0.4rem;
}

/* Image scaling help */
img,
picture,
video,
canvas,
svg {
  object-fit: scale-down;
}
img.scale {
  width: unset;
  height: unset;
  border-radius: var(--bd-rd);
}
img + em,
picture + em {
  font-size: smaller;
  align-self: center;
}
picture + picture,
video + video,
canvas + canvas {
  margin-top: 1em;
}

/* Blockquotes */
blockquote {
  padding: 1rem 1.25rem;
  color: var(--bq-c);
  background: var(--bq-bg-c);
  border-left: 5px solid var(--bq-bd-c);
  & *:first-child {
    padding-top: 0;
    margin-top: 0;
  }
  & *:last-child,
  & p:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    & > cite {
      display: block;
    }
  }
  & cite {
    font-size: smaller;
    font-style: normal;
    &:before {
      content: "— ";
    }
  }
}
h1 + blockquote,
h2 + blockquote,
h3 + blockquote {
  margin: 0.5em 0 0 0;
}

/* hr in a blog post */
article > p + hr {
  border-top: 1px solid var(--bd-c);
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: 50%;
  margin: 0 auto;
}

/* Blog post archive pagination */
.pagination {
  border-top: 1px dashed var(--bd-c);
  padding: 0;
  background-color: transparent;
  margin: 2em 0;
  & ul {
    margin-top: 0.25em;
    list-style: none;
    padding: 0;
    color: var(--tx-c-mu);
  }
  & a[href] {
    color: var(--tx-c-mu);
    &:visited {
      color: var(--tx-c-mu);
    }
    &:hover,
    &:active {
      color: var(--tx-c);
      text-decoration-color: var(--tx-c-ln-vs-de);
    }
  }
}

/* Tags list page */
ul.taglist {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

/* SVG icon system per https://mcraiganthony.github.io/svg-icons/ */
.icon {
  display: inline-block;
  fill: currentColor;
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 1.2em;
  & path {
    fill: currentColor;
    stroke: currentColor;
  }
}
footer a[href] {
  color: var(--tx-c-mu);
  text-decoration-color: var(--tx-c-mu);
  &:visited {
    color: var(--tx-c-mu);
    text-decoration-color: var(--tx-c-mu);
  }
  &:hover,
  &:active {
    color: var(--tx-c);
    text-decoration-color: var(--tx-c-ln-vs-de);
  }
}





textarea,
select,
input {
  padding: 6px 12px;
  margin-bottom: .5rem;
  background: transparent;
  color: var(--tx-c);
  border: 1px solid var(--bd-c);
  border-radius: var(--bd-rd);
  box-shadow: none;
  box-sizing: border-box;
}

#splash-fun {
  /* display: flex; */
  margin-top: var(--lo-sp);
}
#splash-fun-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* flex-direction: column; */
  & label {
    margin-top: 1em;
  }
  & > div:nth-child(odd) {
    grid-column: 1 / span 2;
  }
  & > div:nth-child(even) {
    grid-column: 3 / span 2;
  }
  & > input[type="reset"] {
    grid-column: 1 / 2;
  }
}


a button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	font-size: 1rem;
	display: inline-block;
	padding: 6px 12px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	background: var(--cg-gy);
	color: var(--cg-bk);
	border: 0;
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
}

button:enabled:hover,
input[type="submit"]:enabled:hover,
input[type="reset"]:enabled:hover,
input[type="button"]:enabled:hover {
	background: var(--cg-gn);
}
