/*
  Additional styling relevant to blog posts
  */


/* Tags list */
.post-metadata {
  display: inline-flex;
  flex-wrap: wrap;
  gap: .5em;
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--text-muted);
}
.post-metadata time {
  color: var(--text-muted);
}
.post-metadata li:nth-of-type(2)::before {
  margin-right: 0.5em;
  content: "\2022";
} 

/* Direct Links / Markdown Headers */
.header-anchor {
  text-decoration: none;
  font-style: normal;
  font-size: 1em;
  margin-left: .1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
  color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
  text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
  color: var(--text-muted);
}

h2 + .header-anchor {
  font-size: 1.5em;
}

/* next/prev links underneath a post article */
.links-nextprev {
  list-style: none;
  border-top: 1px dashed var(--border-color);
  padding: 0.5em 0 0;
  margin-top: 1.5em;
  color: var(--text-muted);
}

/* Code styling defaults */
pre,
code {
	font-family: var(--font-family-monospace);
  font-size: 0.9em;
}
code[class*=language-],
pre[class*=language-] {
	font-family: var(--font-family-monospace) !important;
  font-size: 0.9em !important;
	line-height: 1.375 !important; /* 22px /16 */
  border-radius: var(--standard-border-radius);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
  border-radius: var(--standard-border-radius);
}
code {
  color: var(--text-color-code);
}

kbd {
  color: var(--border-color);
  border: 1px solid var(--border-color);
  border-bottom: 3px solid var(--border-color);
  border-radius: var(--standard-border-radius);
  padding: 0.1rem 0.4rem;
}


/* Image scaling help */
img, picture, video, canvas, svg {
  object-fit: scale-down;
}
img.scale {
  width: unset;
  height: unset;
  border-radius: var(--standard-border-radius);
}
img + em,
picture + em {
  font-size: smaller;
  align-self: center;
}


/* Blockquotes */
blockquote {
	padding: 1rem 1.25rem;
  color: var(--border-color);
	background: var(--bquote-background-color);
	border-left: 5px solid var(--bquote-border-color);
  & *:first-child {
    padding-top: 0;
    margin-top: 0;
  }
  & *:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

/* hr in a blog post */
main > p + hr {
  border-top: 1px solid var(--border-color);
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: 50%;
  margin: 0 auto;
}
