<!doctype html>
<html lang="{{ metadata.language }}" id="html73k">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		<meta name="generator" content="{{ eleventy.generator }}">

    {# Fonts, with preconnect for criticality #}
    <link rel="preconnect" href="https://fonts.cdnfonts.com" crossorigin>
    <link href="https://fonts.cdnfonts.com/css/supercomputer" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/ibm-plex-sans" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/friz-quadrata-std" rel="stylesheet">
    {# OK to load code font later #}
    <link href="https://fonts.cdnfonts.com/css/jetbrains-mono" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link href="https://fonts.cdnfonts.com/css/jetbrains-mono" rel="stylesheet"></noscript>

		{#- Bundling CSS, default bundle #}
    {% include "_includes/css/_bundle-base.njk" %}

		{#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
		<style>{% getBundle "css" %}</style>
		{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
		<link rel="stylesheet" href="{% getBundleFileUrl "css", "defer" %}">

	</head>
	<body>

		<a href="#skip" class="visually-hidden skip-to-main">Skip to main content</a>

		<header id="head73k">
      
			<div><a href="/" class="home-link">{{ metadata.title }}</a></div>

			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
			<nav>
				<h2 class="visually-hidden">Top level navigation menu</h2>
				<ul class="nav">
				{%- for entry in collections.all | eleventyNavigation %}
					<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
				{%- endfor %}
				</ul>
			</nav>
		</header>

		<main id="skip">
			{{ content | safe }}
		</main>

		<footer><p>&copy; {% year %} Adam Piontek ... how about {{ splash73k.opts.headMaxW }}</p></footer>

		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
	</body>
</html>
