<!doctype html>
<html lang="{{ metadata.language }}" id="html73k">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		<meta name="generator" content="{{ eleventy.generator }}">

    {# Fonts, with preconnect for criticality #}
    <link rel="preconnect" href="https://fonts.cdnfonts.com" crossorigin>
    <link href="https://fonts.cdnfonts.com/css/ibm-plex-sans" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/friz-quadrata-std" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/supercomputer" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/jetbrains-mono" rel="stylesheet">


		{#- Bundling CSS, default bundle #}
		{%- css %}
      {% include "_includes/css/_css-reset.css" %}
      {# Variables related to splash73k background #}
      :root {
        --content-minw: 303px;
        --content-maxw: {{ splash73k.opts.headMaxW }}px;
        --splash-buffer-size: {{ splash73k.opts.bufferSize }}px;
        --splash-line-size: {{ splash73k.opts.lineSize }}px;
        --splash-stroke-width: {{ splash73k.opts.strokeWidth }}px;
        --splash-line-start: {{ splash73k.opts.lineStart }};
        --splash-line-count: {{ splash73k.opts.lineCount }};
        --splash-tilt-degrees-start: {{ splash73k.opts.tiltDegreesStart }};
        --splash-tilt-degrees-end: {{ splash73k.opts.tiltDegreesEnd }};
        --splash-shape-rendering: {{ splash73k.opts.shapeRendering }};
        {% for color in splash73k.opts.colors %}
        --splash-c{{ loop.index0 }}: {{ color }};
        {% endfor %}
      }
      html {
        background-image: url('data:image/svg+xml;utf8,{{ splash73k.svg | safe }}');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: {{ splash73k.opts.svgSize }}px {{ splash73k.opts.svgSize }}px;
      }
      {# Remainder of 73k CSS variables #}
      {% include "_includes/css/_variables.css" %}
      {# {% include "_includes/css/index.css" %} #}
      {% include "_includes/css/style.css" %}
    {% endcss %}

		{#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
		<style>{% getBundle "css" %}</style>
		{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
		{#- <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}

	</head>
	<body>

		<a href="#skip" class="visually-hidden skip-to-main">Skip to main content</a>

		<header id="head73k">
      
			<div><a href="/" class="home-link">{{ metadata.title }}</a></div>

			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
			<nav>
				<h2 class="visually-hidden">Top level navigation menu</h2>
				<ul class="nav">
				{%- for entry in collections.all | eleventyNavigation %}
					<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
				{%- endfor %}
				</ul>
			</nav>
		</header>

		<main id="skip">
			{{ content | safe }}
		</main>

		<footer><p>&copy; {% year %} Adam Piontek ... how about {{ splash73k.opts.headMaxW }}</p></footer>

		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
	</body>
</html>
